.Main {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.App {
  margin: auto;
  padding: 16px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sub-Main {
  width: 100%;
  max-width: 500px;
}

.Answer-Text {
  width: 100%;
}

.Div-Button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 32px 0;
}

.Div-Button button {
  width: 84px;
  height: 32px;
}

.App-logo {
  width: 100px;
  height: 100px;
}
